<app-header></app-header>

<div class="body">
    <h1 class="titulo">Sobre Nosotros</h1>

    <h3>Redime Colombia. La empresa de todos los Colombianos.</h3>

    <br>
    <br>

    <div class="box">

        <section class="structure">
            <div class="image1">
                <img src="./img/compra_internet.jpeg" alt="imagen_rc_1">
            </div>
            <div class="image2">
                <img src="./img/comprando_ropa.jpg" alt="imagen_rc_2">
            </div>
            <div class="texto1">
                <div class="caja">
                    <p>
                        Redime Colombia es el programa de acumulación de puntos de grandes y medianas marcas en Colombia, en el que juntas en una única cuenta los Puntos que acumulas al comprar en uno de nuestros comercios seleccionado. Activarse es totalmente gratis, y estos Puntos se pueden redimir en los productos que más te gusten de tus tiendas favoritas dentro del programa!
                        <br>
                        <br>
                        Nuestros comercios aliados tienen cobertura en más de 7 ciudades principales del país. Por cada compra en tienda que se haga, el cajero podrá registrar las compras con su número de identificación para empezar a acumular puntos según el valor de la compra y estar más cerca de todas nuestras recompensas disponibles en el catálogo.
                        <br>
                        <br>
                        Contamos con distintos canales de atención por medio de la línea de atención nacional <a href="">01 8000 423600</a> para personas, <a href="">01 8000 180748</a> para comercios, o por nuestros canales de <a href="">Instagram</a>, <a href="">Twitter</a> y <a href="">Facebook</a>. Contamos con una línea móvil de atención inmediata con representante por WhatsApp al número <a href="">(+57) 300 912 0488</a>.
                    </p>
                </div>
            </div>
        </section>

        <br>
        <br>
        <br>

        <div class="texto2">
            <p>
                Nuestros clientes tienen muchas opciones para redimir
                sus Puntos. Contamos con distintas sucursales físicas
                dentro de los comercios aliados, o desde cualquier lugar
                ingresando a nuestro catálogo en línea de los productos
                en oferta por marcas.
            </p>
        </div>

    </div>
</div>

<app-footer></app-footer>
