<div class="body">

    <section class="encabezado">
      <h1>Sobre</h1>
      <img src="../../../assets/img/Icono_redime_colombia-1.png" alt="logoRC">
      <h1>Nosotros</h1>
    </section>
  
    <section class="contenedor">
  
      <div class="cartasinfo">
        <div class="carta">
          <h3>¿Quiénes somos?</h3>
          <hr>
          <div class="texto">
            <p>Redime Colombia es el programa de acumulación de puntos de grandes y medianas marcas en Colombia, en el que juntas en una única cuenta los Puntos que acumulas al comprar en uno de nuestros comercios seleccionado. Activarse es totalmente gratis, y estos Puntos se pueden redimir en los productos que más te gusten de tus tiendas favoritas dentro del programa!</p>
          </div>
        </div>
  
        <div class="carta">
          <h3>¿Cómo funciona RC?</h3>
          <hr>
          <div class="texto">
            <p>Nuestros comercios aliados tienen cobertura en más de 7 ciudades principales del país. Por cada compra en tienda que se haga, el cajero podrá registrar las compras con su número de identificación para empezar a acumular puntos según el valor de la compra y estar más cerca de todas nuestras recompensas disponibles en el catálogo.</p>
          </div>
        </div>
  
        <div class="carta">
          <h3>Nuestro compromiso</h3>
          <hr>
          <div class="texto">
            <p>Como empresa, nuestra prioridad siempre han sido nuestros usuarios. Los clientes tienen muchas opciones para redimir sus Puntos en las distintas sucursales físicas dentro de los comercios aliados. Para más accesibilidad, contamos con un catálogo en línea de los productos disponibles para que nunca se pierdan las mejores ofertas del mercado.</p>
          </div>
        </div>
      </div>
  
    </section>
  
  </div>
  
<app-footer></app-footer>