@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.body {
    background-image: linear-gradient(to top, rgba(100, 111, 212, 0.39) 0%, rgba(155, 163, 235, 0.432) 100%),
    url(../../../assets/img/comprainternet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.encabezado {
    display: flex;
    justify-content: center;
}

.encabezado h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    letter-spacing: 7px;
    font-family: 'Abel', sans-serif;
}

.encabezado img {
    height: 200px;
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
}

.contenedor {
    width: 100%;
    height: 600px;
    max-height:max-content;
    display: flex;
    flex-direction: column;
}

.contenedor h3 {
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.cartasinfo {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.carta1 {
    background-color: #DBDFFD;
    border-radius: 5%;
    width: 26%;
    height: 70%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.carta2 {
    background-color: #DBDFFD;
    border-radius: 5%;
    width: 26%;
    height: 70%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.carta3 {
    background-color: #DBDFFD;
    border-radius: 5%;
    width: 26%;
    height: 70%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.cartasinfo h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Abel', sans-serif;
}

.cartasinfo hr {
    width: 80%;
    height: 1px;
    align-self: center;
    border: none;
    background-color: black;
}

.cartasinfo .texto {
    margin: 50px;
    height: 100%;
    display: flex;
}

.texto p {
    font-size: 20px;
    text-align: justify;
    font-family: 'Abel', sans-serif;
    justify-self: center;
    align-self: center;
}
