<section class="body">

    <div class="titulo">
        <br/><br/><h1>REDIME TUS PUNTOS</h1>
    </div>

    <div class="container">

        <div class="card">
            <div class="producto">
                <div class="imagen_producto"></div>
                <div class="detalle">
                    <h2>Celulares</h2>
                    <p>Encuentra una amplia selección de teléfonos móviles de última generación, desde modelos populares
                        hasta opciones más económicas. Descubre smartphones con cámaras de alta resolución, pantallas 
                        vibrantes y potentes procesadores.</p>
                        <div class="btn">
                            <a href="https://www.apple.com/iphone-14-pro/" target="_blank">Leer Más</a>
                          </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="producto2">
                <div class="imagen_producto2"></div>
                <div class="detalle2">
                    <h2>Automoviles</h2>
                    <p>Explora nuestra colección de automóviles, que incluye una variedad de marcas y modelos. Encuentra vehículos que se 
                        ajusten a tus necesidades y presupuesto, ya sea que busques un coche deportivo, familiar o económico.</p>
                        <div class="btn">
                            <a href="https://www.chevrolet.com.co/camionetas/tracker-turbo-camioneta-suv" target="_blank">Leer Más</a>
                          </div>
                </div>
            </div>

        </div>


        <div class="card">
            <div class="producto3">
                <div class="imagen_producto3"></div>
                <div class="detalle3">
                    <h2>Computadoras</h2>
                    <p> Descubre nuestras computadoras, tanto laptops como equipos de escritorio. Encuentra dispositivos potentes con 
                        amplio almacenamiento y pantallas de calidad. Perfectos para trabajar, estudiar o entretenerse.</p>
                        <div class="btn">
                            <a href="https://www.falabella.com.co/falabella-co/category/cat171006/Computadores?f.product.attribute.Tipo=Gamers" target="_blank">Leer Más</a>
                          </div>
                </div>
            </div>

        </div>

    </div>

</section>

<app-footer></app-footer>