<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<header class="header" id="inicio">

    <div class="contenedor head">
            <img src="../../../assets/img/Icono_redime_colombia-1.png" alt="" class="img-responsive move-image">
            
    </div>
    

</header>
<main class="todo">
    <section class="services contenedor" id="servicio">
        <h2 class="subtitulo">Nuestro Servicio</h2>
        <div class="contenedor-servicio">
            <img src="../../../assets/img/ConstruccionBloques.svg" alt="">
            <div class="checklist-servicio">
                <div class="service">
                    <h3 class="n-service"><span class="number">1</span> Canjea y disfruta recompensas exclusivas</h3>
                    <p>¡Redime puntos y obtén recompensas exclusivas! Con nuestra página de puntos para redimir,
                         puedes canjear tus puntos por una variedad de artículos, desde descuentos en tiendas
                          hasta productos gratuitos.
                    </p>
                </div>
                <div class="service">
                    <h3 class="n-service"><span class="number">2</span>Beneficios exclusivos con nuestro programa de puntos</h3>
                    <p>¡Únete a nuestro programa de puntos y aprovecha los beneficios! Con nuestra
                         página de puntos para redimir, puedes obtener ventajas como ofertas especiales,
                          regalos personalizados y acceso a eventos exclusivos, solo por acumular puntos.
                    </p>
                </div>
                <div class="service">
                    <h3 class="n-service"><span class="number">3</span>Gana recompensas únicas al acumular puntos</h3>
                    <p>¡No pierdas la oportunidad de ganar recompensas increíbles! En nuestra página
                         de puntos para redimir, puedes convertir tus compras en puntos valiosos y canjearlos
                          por premios únicos que no encontrarás en ninguna otra parte. ¡Únete ahora y empieza a acumular!
                    </p>
                </div>

            </div>
        </div>
    </section>
    <section class="contenedor" id="experts">
        <h2 class="subtitulo">Aqui puedes : </h2>
        <section class="experts">
            <div class="cont-expert">
                <img src="../../../assets/img/ImagenCerdo.svg" alt="">
                <h3 class="n-expert">Ahorrar</h3>
            </div>
            <div class="cont-expert">
                <img src="../../../assets/img/ImgRedimir.svg" alt="">
                <h3 class="n-expert">Redimir</h3>
            </div>
            <div class="cont-expert">
                <img src="../../../assets/img/ImagPagar.svg" alt="">
                <h3 class="n-expert">Pagar</h3>
            </div>
        </section>
    </section>
</main>

<app-footer></app-footer>
