<header>
  <nav>
    <ul>
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="/nosotros">Nosotros</a></li>
      <li><a routerLink="/productos">Productos</a></li>
      <li><a routerLink="/contacto">Contáctanos</a></li>
      <a routerLink="" class="logo"><img src="../../../img/Icono redime colombia.png" alt="logoRC"></a>
      <li class="botones"><a routerLink="/login">Iniciar Sesión</a></li>
      <li class="botones"><a routerLink="/registro">Crear Usuario</a></li>
    </ul>
  </nav>
</header>