<header>
  <nav>
    <ul>
      <div class="opciones">
        <li><a routerLink="">Inicio</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a routerLink="/productos">Productos</a></li>
        <li><a routerLink="/contacto">Contáctanos</a></li>
      </div>
      <a routerLink=""><img src="../../../assets/img/Logo_redime_colombia_final-removebg-preview.png" alt="logoRC"></a>
      <div class="opcionesusuario">
        <li class="botones"><a routerLink="/login">Iniciar Sesión</a></li>
        <li class="botones"><a routerLink="/registro">Crear Usuario</a></li>
      </div>
    </ul>
  </nav>
</header>