<footer>
    <section class="contenedor">
        <div class="marca">
            <h2>Redime Colombia</h2>
            <p>© Todos los derechos reservados | Bogotá Institute of Technology</p>
        </div>
        <div class="logorc">
            <h2>Logo</h2>
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/">Facebook</a>
            <a href="https://www.instagram.com/">Instagram</a>
            <a href="https://twitter.com/">Twitter</a>
        </div>
    </section>
</footer>
