<footer>
    <section class="contenedor">
        <div class="marca">
            <h2>Redime Colombia</h2>
            <p>© Todos los derechos reservados | Bogotá Institute of Technology</p>
        </div>
        <div class="logorc">
            <img src="../../../assets/img/Icono_redime_colombia-1.png" alt="">
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/" target="_blank"><img src="../../../assets/img/facebooklogo.png" alt="facebook"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/img/instalogo_final.png" alt="instagram"></a>
            <a href="https://twitter.com/" target="_blank"><img src="../../../assets/img/twitterlogo.png" alt="twitter"></a>
        </div>
    </section>
</footer>
