<div class="usuario-editar">
    <div class="imagenusuario">
        <img src="assets/img/download-removebg-preview.png" alt="">
        <div class="overlay">
            <div class="editar-icono">Editar usuario</div>
        </div>
    </div>
    <div class="imageneditar">
    </div>
    <div class="campo-editar-titulo">
        <h2>Editar nombre negocio:</h2>
        <input type="text" placeholder="Escribe aquí tu nuevo nombre de negocio">
    </div>
    <div class="correo-editar-titulo">
        <h2>Correo electrónico:</h2>
        <input type="text" placeholder="Escribe aquí tu nuevo correo electrónico">
    </div>
    <div class="telefono-editar-titulo">
        <h2>Teléfono:</h2>
        <input type="text" placeholder="Escribe aquí tu nuevo número de teléfono">
    </div>
    <div class="contraseña-editar-titulo">
        <h2>Contraseña:</h2>
        <input type="password" placeholder="Escribe aquí tu nueva contraseña">
    </div>
    <!-- <div class="direccion-editar-titulo">
        <h2>Dirección de facturacion:</h2>
        <input type="text" placeholder="Escribe aquí tu nueva dirección">
    </div> -->
    <div class="botones">
        <button class="guardar">Guardar cambios</button>
        <br>
        <button class="regresar" routerLink="/perfilcomercio">Regresar</button>
    </div>