<div class="body">
    <section class="box">
        <div class="titulo">
            <h1>
                Contáctenos
            </h1>
        </div>
        <div class="parrafo">
            <p>
                ¿Tiene alguna pregunta? Déjanos tus datos y nos comunicaremos pronto.
            </p>
        </div>
        <div>
            <form class="formulario">
                <div>
                    <label for="name">Nombre</label>
                    <br>
                    <br>
                    <input type="text">
                </div>
                <div>
                    <label for="email">Correo</label>
                    <br>
                    <br>
                    <input type="text">
                </div>
                <div>
                    <label for="message">Mensaje</label>
                    <br>
                    <br>
                    <textarea type="text" rows="5"></textarea>
                </div>
            </form>
            <br>
            <div>
                <button>Enviar</button>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>
