
<div class="usuario-editar">
    <div class="imagenusuario">
        <img src="assets/img/download-removebg-preview.png" alt="">
    </div>
    <div class="Negocio">
        <ul>
            <li>{{comercioProfile.name}}</li>
            <br>
            <li>{{comercioProfile.nameEmpresa}}</li>
        </ul>
    </div>
    <div class="editarperfil">
        <button routerLink="/editarcomercio">Editar perfil</button>
    </div>
    <div class="container">
        <div class="tus-pedidos">
            <img src="assets/img/7132915.png" alt="">
            <h1>Tus pedidos</h1>
        </div>  
        <div class="tus-productos">
            <img src="assets/img/1170679.png" alt="">
            <h1>Tus productos</h1>
        </div>
        <div class="pagos-facturas">
            <img src="assets/img/iconos facturas.png" alt="">
            <h1>Pagos y facturas</h1>
        </div>
    </div>
    <div class="container">
        <div class="contenedor-estadisticas">
            <div class="estadisticas">
                <img src="assets/img/stats_down_icon_125144.png" alt="">
                <h2>Estadísticas</h2>
            </div>
        </div>
        <div class="contenedor-market-maker">
            <div class="market-maker">
                <h2>Market Maker</h2>
                <img src="assets/img/marketmaker.png" alt="">
            </div>
        </div>
    </div>
