<!-- <header class="header">
    <div class="logo">
        <img src="assets/img/Logo_redime_colombia_final-removebg-preview.png" alt="">
    </div>
</header> -->
<div class="usuario-editar">
    <div class="imagenusuario">
        <img src="assets/img/download-removebg-preview.png" alt="">
    </div>
    <div class="usuario-1">
        <h1>Usuario 1</h1>
    </div>
    <div class="tus-puntos">
        <h2>Tus puntos</h2>
        <h1 class="puntos">500</h1>
    </div>
    <div class="container">
        <div class="tus-bonos">
            <img src="assets/img/Bono.png" alt="">
            <h1>Tus bonos</h1>
        </div>
        <div class="tus-compras">
            <img src="assets/img/icono compra.png" alt="">
            <h1>Tus compras</h1>
        </div>
        <div class="favoritos">
            <img src="assets/img/favoritos.png" alt="">
            <h1>Favoritos</h1>
        </div>
    </div>
</div>
